@import '../elements';
@import '../animations/jump';
.loader.jump {
  @extend %loader;
  .partial {
    @extend %partial;
    animation-duration: .8s;
    animation-name: jump;
    &:nth-of-type(2) {
      animation-delay: .2s
    }
    &:nth-of-type(3) {
      animation-delay: .1s
    }
    &:nth-of-type(4) {
      animation-delay: .75s
    }
  }
}
